@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Readex Pro';
  background-color: #131415;
  color: #fff;
  line-height: 1.5rem;
}
